frontend myfrontend
	bind *:80
	bind *:443 crt /usr/local/etc/ssl/cert.pem
	default_backend mybackend

backend mybackend
	server s1 periftech1:9090 check
	server s2 periftech2:9090 check
	stats enable
    stats hide-version
    stats scope   .
    stats uri /stats